
@{
    ViewBag.Title = "HoanThanhDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2 class="general info">
        ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC GHI NHẬN. CHÚNG TÔI SẼ LIÊN HỆ TRONG THỜI GIAN SỚM
        NHẤT
    </h2>
    <p>
        @Html.ActionLink("Về trang chủ", "Index", "Home", null, new
        {
            @class = "btn-info btn - primary" })
    </p>
</div>

