@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="support-costumer general">Tin Tức</div>
<div class="box">
    <a href="@Url.Action("New1","TinTuc")" class="link">
        <img class="item-thumnail-new-img" 
             src="https://s199.imacdn.com/ta/2022/10/22/02ff2c05f20a9bf0_c68117e1b71069e3_5800316663745199185710.jpg" />
        <div class="item-description-news">
            <h4 class="item-description-title">Nhờ sự trỗi dậy của trí tuệ nhân tạo,Nhật Bản có thể<br/>tạm thời bỏ "che" các hạng mục 18+!</h4>
        </div>
    </a>
    <a href="@Url.Action("New2","TinTuc")"class="link">
        <img class="item-thumnail-new-img" 
             src="https://s199.imacdn.com/ta/2022/10/22/cee9d65c2aa76683_d37af50c47c67373_13273716663726505185710.jpg" />
        <div class="item-description-news">
            <h4 class="item-description-title">Kết thúc arc thứ hai,Fumetsu no Anata e sẵn sàng<br /> mở màn arc thứ 3!</h4>
        </div>
    </a>
    <a href="@Url.Action("New3","TinTuc")"class="link">
    <img class="item-thumnail-new-img" 
         src="https://s199.imacdn.com/ta/2022/10/22/233478ed6d23d428_0117b3a896cbee1e_9067516663741182185710.jpg" />
    <div class="item-description-news">
        <h4 class="item-description-title">Mùa hai của bộ anime Cyberpunk: Edgerunners<br />sẽ không được sản xuất!</h4>
    </div>
    </a>
    <a href="@Url.Action("New4","TinTuc")"class="link">
        <img class="item-thumnail-new-img" 
             src="https://www.animegeek.com/wp-content/uploads/2022/10/SpyClassroomheader.jpg" />
        <div class="item-description-news">
            <h4 class="item-description-title">Anime Spy Kyoushitsu hé lộ về nhân vật Grete</h4>
        </div>
    </a>
</div>