
@{
    ViewBag.Title = "New1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="support-costumer general">Tin Tức</div>
<h1 class="news-title-page">Nhờ sự trỗi dậy của trí tuệ nhân tạo, Nhật Bản có thể tạm thời bỏ "che" các hạng mục 18+!</h1>
<div class="news">
    <div class="news-content">
        <p>
            <b>Zenko Kurishita, một thành viên của Đảng Dân chủ Lập hiến Nhật Bản, 
            đồng thời ông cũng tham gia hai cơ quan lập pháp của Hội đồng Thành phố Tokyo, mới đây cho biết, 
            sự tồn tại của trí tuệ nhân tạo (AI) làm cho những hình ảnh 18+ có thể tạo ra sự thay đổi trong Luật 
            Kiểm duyệt vốn đang gây tranh cãi của Bộ luật Hình sự Nhật Bản.&nbsp;</b>
        </p>
        <p>
            <br>
        </p>
        <p>
            <img src="https://s199.imacdn.com/ta/2022/10/22/02ff2c05f20a9bf0_c68117e1b71069e3_5800316663745199185710.jpg"
                 style="margin-left: 150px; margin-right:20%;" data-filename="filename">
        </p>
        <p>
            <br>
        </p>
        <p>Cụ thể, các phần mềm trí tuệ nhân tạo đã vô tình tạo ra lỗ hổng trong luật pháp Nhật Bản 
        khi nó mới chỉ đề ra để áp dụng lên con người chứ không phải lên các phần mềm. Ông Kurishita giải thích như sau:</p>
        <p style="margin-left: 25px;">
            <i>"NovelAI đang là vấn đề nóng bởi mức độ đe dọa của nó. Nhưng nó có thể tạo ra những hình ảnh nhạy cảm mà sẽ 
            không vi phạm Điều 175 của Bộ luật Hình sự ở Nhật Bản. Điều này có nghĩa nó đã vượt ra khỏi những suy nghĩ thông 
            thường về yêu cầu tình dục của người Nhật chăng?"</i>
        </p>
        <p style="margin-left: 25px;">
            <i>
                <br>
            </i>
        </p>
        <p>
            <img src="https://s199.imacdn.com/ta/2022/10/22/ce95f3d081d4a29e_108c8019341fb300_6511616663745566185710.jpg" 
                 style="margin-left: 120px; margin-right:20%;" data-filename="filename">
        </p>
        <p>
            <i>
                <br>
            </i>
        </p>
        <p>Ông nói thêm:</p>
        <p style="margin-left: 25px;">
            <i>
                <i style="display: inline !important;">"Tội phân phối tài liệu người lớn, 
                được đề cập tại Điều 175 của Bộ luật Hình sự, bao gồm phân phát, hiển thị công khai tài liệu, 
                hình ảnh và dữ liệu 18+, sở hữu hoặc lưu giữ chúng để buôn bán dẫn đến nhận được một khoản thù lao nhất định.</i>
                <br>
            </i>
        </p>
        <p style="margin-left: 25px;">
            <i>Luật là vậy và từ trước đến nay, rất khó để có được một tác phẩm không mâu thuẫn với điều này, 
            trừ khi bạn vẽ nó cho chính bản thân bạn. Nhưng bây giờ điều đó có nghĩa là mỗi cá nhân đều có thể tạo ra nó nhờ AI. 
            Tôi cho rằng bản thân Điều 175 Bộ luật hình sự cần được cập nhật và môi trường pháp lý cũng có thể thay đổi theo công nghệ đó".</i>
        </p>
        <p>
            <br>
        </p>
        <p>
            <img src="https://s199.imacdn.com/ta/2022/10/22/6e4cbf07d37b6d71_bc5bc5b55978106c_7339016663746227185710.jpg" 
                 style="margin-left: 100px; margin-right:20%;" data-filename="filename">
        </p>
        <p>
            <br>
        </p>
        <p>Sau bão tranh cãi mà phần mềm NovelAI tạo ra thì có vẻ nó tiếp tục đang tạo ra sức ảnh hưởng đi xa hơn nữa.</p>
        <p>
            <br>
        </p>
        <p style="text-align: left; ">Tổng hợp: TAIHEN, Twitter zepar2910</p>
        <p style="text-align: left; ">Khim Phạm</p>
