
@{
    ViewBag.Title = "New2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="support-costumer general">Tin Tức</div>
<h1 class="news-title-page">Kết thúc arc thứ hai, Fumetsu no Anata e sẵn sàng mở màn arc thứ 3!</h1>
<div class="news-content">
    <p>
        <b>Mới đây, trong số thứ 47 năm nay của tạp chí Tuần san Shounen do nhà xuất bản 
        Kodansha phát hành đã xác nhận chương truyện (chapter) cuối cùng cho arc thứ hai 
        của bộ truyện Fumetsu no Anata e (Gửi Em, Người Bất Tử) của tác giả Yoshitoki Ouima. 
        Đồng thời, trong số này, arc thứ ba cũng đã được công bố rằng sẽ xuất hiện trong số tạp chí 
        thứ 8 năm 2023, được xuất xưởng vào ngày 25 tháng 1 năm sau.</b>
    </p>
    <p>
        <br>
    </p>
    <p>
        <img src="https://s199.imacdn.com/ta/2022/10/22/cee9d65c2aa76683_d37af50c47c67373_13273716663726505185710.jpg" 
             data-filename="filename" style="margin-left: 120px;margin-right: 20%;">
    </p>
    <p>
        <br>
    </p>
    <p style="margin-left: 25px;">
        <i>Nó, là một vật thể bất tử, được gửi đến Trái Đất, Nó không mang cảm xúc, 
        cũng không có danh tính. Tuy nhiên, Nó có thể nhập vào bất cứ sinh vật nào có năng lượng. 
        Lúc đầu, Nó là một khối cầu tròn. Sau đó, Nó bắt đầu mô phỏng hình dáng của đá. 
        Nhiệt độ đã giảm và tuyết cũng đã phủ dày, Nó bắt đầu mô phỏng những cây rêu trên đá. 
        Khi bị thương, một chú sói cô đơn nằm chết lặng lẽ trên tuyết, Nó bắt đầu mô phỏng hình dạng của chú sói đó. 
        Cuối cùng, Nó có được nhận thức và đi lang thang qua ngôi làng Tsundra vắng vẻ cho tới khi Nó gặp được một cậu bé.</i>
    </p>
    <p style="margin-left: 25px;">
        <i>Cậu bé đang sống một mình trong ngôi làng ma này, 
        khi mà người lớn đã ra đi để tìm lấy thiên đường trong biển tuyết trắng xóa. 
        Tuy nhiên, nỗ lực của họ đã công cốc và bây giờ cậu bé đã ra đi trong tình trạng tuyệt vọng. 
        Nó lấy hình dạng của cậu bé và bắt đầu một cuộc hành trình không hồi kết, để lấy được những kinh nghiệm, 
        khám phá những nơi mới và gặp gỡ những người mới.</i>
    </p>
    <p style="margin-left: 25px;">
        <i>
            <br>
        </i>
    </p>
    <p style="margin-left: 25px;">
        <img src="https://s199.imacdn.com/ta/2022/10/22/827532608f452444_3a2be01a1a72ce6c_14705516663727284185710.jpg" 
             style="margin-left: 120px;margin-right: 20%;">
        <i>
            <br>
        </i>
    </p>
    <p style="margin-left: 25px;">
        <i>
            <i style="display: inline !important;">Sau khi chết nhiều lần, cậu được tìm thấy ở đầm lầy bởi March, 
            một cô bé nhỏ với mong ước trở thành một người mẹ tốt, nhưng không may thay cô lại được chọn là vật hiến 
            tế cho một con gấu tâm linh điên loạn. Cô bé đặt tên cậu là "Fushi" và làm bạn với cậu, dạy cậu cách ăn và bớt hoang dại hơn.</i>
        </i>
    </p>
    <p>
        <br>
    </p>
    <p>
        <img src="https://s199.imacdn.com/ta/2022/10/22/e88df74a46017290_e5dab6b3bb1b4cce_9299416663728152185710.jpg" 
             style="margin-left: 200px;margin-right: 20%;" data-filename="filename">
    </p>
    <p>
        <br>
    </p>
    <p>Ouima Yoshitoki đã phát hành "Gửi Em, Người Bất Tử" ở mục 50 của tạp chí Tuần san Shounen vào ngày 9 tháng 11 năm 2016.&nbsp;</p>
    <p>
        <br>
    </p>
    <br>
    </p>
    <p style="text-align: right; ">Khim Dora</p><p>
    </p>

</div>


