
@{
    ViewBag.Title = "New3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="support-costumer general">Tin Tức</div>
<h1 class="news-title-page">Mùa hai của bộ anime Cyberpunk: Edgerunners sẽ không được sản xuất!</h1>

<div class="news-content">
    <p>
        <b>Với số điểm 8.72 trên nền tảng MyAnimeList và là một trong những bộ truyện được đánh giá 
        cao trong năm 2022, bộ anime Cyberpunk: Edgerunners đã được rất nhiều người hâm mộ chờ đợi 
        thông tin sẽ quay trở lại với mùa thứ hai hay bất kỳ dự án nào khác được sản xuất nhưng mà...</b>
    </p>
    <p>
        <br>
    </p>
    <p>
        <img src="https://s199.imacdn.com/ta/2022/10/22/233478ed6d23d428_0117b3a896cbee1e_9067516663741182185710.jpg" 
             style="margin-left: 120px;margin-right: 20%;" data-filename="filename">
    </p>
    <p>
        <br>
    </p>
    <p>Famitsu, một trang web game nổi tiếng của Nhật Bản đã có cuộc trò chuyện với Satoru Honma, 
    nhà sản xuất bộ anime Cyberpunk: Edgerunners và Hiroyuki Imaishi, giám đốc dự án của hãng phim Trigger. 
    Trong buổi phỏng vấn giữa hai bên, họ đã hỏi nhiều câu hỏi khác nhau về quá trình sản xuất nhưng điều mà 
    người hâm mộ quan tâm nhất chính là câu hỏi liên quan đến mùa thứ hai.</p>
    <p>
        <br>
    </p>
    <p>
        <img src="https://s199.imacdn.com/ta/2022/10/22/23759cab5ccd025b_9e02df1fa38f3fed_10387416663742296185710.jpg" 
             data-filename="filename" style="margin-left: 120px;margin-right: 20%;">
        <br>
    </p>
    <p>Honma, người sản xuất anime xác nhận hiện giờ không có bất kỳ kế hoạch nào cho mùa thứ hai của bộ anime Cyberpunk: 
    Edgerunners. Anh nói thêm, phản ứng tích cực dành cho bộ phim đã khiến anh muốn tiếp tục sản xuất nhưng đây 
    là một dự án độc lập cho nên chẳng có kế hoạch nào cho mùa thứ hai cả.</p>
    <p>
        <br>
    </p>
    <p style="text-align: right; ">KHIEM WIBU</p>


</div>


