
@{
    ViewBag.Title = "New4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="support-costumer general">Tin Tức</div>

<h1 class="news-title-page">Anime Spy Kyoushitsu hé lộ về nhân vật Grete</h1>

<div class="news-content">
    <div>
        <b>Kadokawa đã tiết lộ một video về nhân vật Grete trong anime&nbsp;</b>
        <i style="font-weight: bold; display: inline !important;">Spy Kyoushitsu (Spy Classroom)</i>
        <b>, dựa trên light novel của tác giả Takemachi.&nbsp;</b>
        <br>
    </div>
    <div>
        <br>
    </div>
    <div id="ta-179603" class="player note-video-clip clip">
        <iframe src="https://tinanime.com/embed/179603" 
                style="margin-left: 225px; margin-right: 20%;position: relative;width: 640px;height: 350px;">
        </iframe>
    </div>
    <div>
        <br>
    </div>
    <div>Dàn diễn viên chính bao gồm:</div>
    <ul>
        <li>
            <b>Sora Amamiya</b>
            trong vai Lily
        </li>
        <li>
            <b>Yuichiro Umehara</b> trong vai Klaus
        </li>
        <li><b>Miku Ito</b> trong vai Grete</li>
        <li><b>Nao Toyama</b> trong vai Sibylla</li>
        <li><b>Aoi Yuki</b> trong vai Monika</li>
        <li><b>Sumire Uesaka</b> trong vai Thea</li>
        <li><b>Ayane Sakura</b> trong vai Sara</li>
        <li><b>Tomori Kusunoki</b> trong vai Annett</li>
    </ul>
    <div style="text-align: center; ">
        <img src="https://s199.imacdn.com/ta/2022/10/22/dd7e02f42b229f07_0e4dd0977eb0dfff_9083716663757527734221.jpg" 
             style="margin-left: 120px;margin-right: 20%;" data-filename="filename">
        <br>
    </div>
    <div>
        <br>
    </div>
    <div>Đội ngũ sản xuất chính:</div>
    <ul>
        <li>
            Đạo diễn: <b>Keiichiro Kawaguchi&nbsp;&nbsp;</b>
        </li>
        <li>Studio: <b>Feel</b></li>
        <li>Giám sát kịch bản: <b>Shinichi Inotsume&nbsp;</b></li>
        <li>Thiết kế nhân vật: <b>Sumie Kinoshita&nbsp;</b></li>
    </ul>
    <div>
        <div style="text-align: center;">
            <img src="https://s199.imacdn.com/ta/2022/10/22/4585c9d36cff07f7_0a56ad246bea59c1_21166816663757642734221.jpg" 
                 data-filename="filename">
        </div>
        <i>
            <br>
        </i>
    </div>
    <div>
        <i>Sau một cuộc xung đột quân sự tàn khốc, các quốc gia đã tiến hành cuộc chiến trong bóng đêm. 
        Một điệp viên dị biệt, Klaus, chưa bao giờ thất bại trong công việc bất chấp những điều kỳ quặc của bản thân. 
        Anh ta đã bắt đầu xây dựng một đội quân để đảm nhận một Nhiệm vụ bất khả thi — với hơn 90% khả năng thất bại. 
        Tuy nhiên, những thành viên được anh ấy lựa chọn đều là những người không có kinh nghiệm. 
        Họ sẽ phải sử dụng mọi thủ thuật trong sách để chứng minh rằng họ hoàn thành nhiệm vụ!</i>
    </div>
    <div>
        <br>
    </div>
    <div>
        <b>Takemachi</b> đã xuất bản bộ light novel với hình minh họa bởi <b>Tomari</b> vào tháng 1 năm 2020.&nbsp;
    </div>
    <div>
        <br>
    </div>
    <div>
        <b>Kaname Seu </b>đã cho ra mắt manga chuyển thể trên tạp chí Monthly Comic Alive của Kadokawa vào tháng 5 năm 2020.
    </div>
    <div>
        <br>
    </div>
</div>

